body{
    font-family: 'Roboto', sans-serif;
}

.header-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header{
    background-color: #B0BEC5;
    border-radius: 0;
    border: none;
    color: #F9F9F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa-bars{
    cursor: pointer;
}
.navbar-brand{
    color: #F9F9F9 !important;
}
/*.tabs{*/
    /*background-color: #B0BEC5;*/
/*}*/
.tabs-style{
    background-color: #B0BEC5;
}

.tabs-style .tab a{
    color: white;
}
.tabs-style .tab a.active, .tabs-style .tab a:hover{
    color: white;
}
.tabs-style .indicator {
    background-color: #F9F9F9;
}